.header {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-family: 'Italianno', cursive;
    color: #ffffff;
    background-color: #362e41;
    padding: 4px;
    margin: 50px;
    text-shadow: 1px 2px 3px #aa97c5;
}