html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    background-image: url("../images/background.png");
    background-position-x: center;
    background-size: auto;
    background-color: #c4ffc9;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}




